
/*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Helvetica, sans-serif;
}*/

/*********** Paladins Champ Picker Styles *********/
.btn {
    background-color: #5b85c9;
    border: none;
    color: #d3d7de;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
#champ_image {
    height: 500px;
}