/*
    This File contains the styling for the top navigation bar
    to allow for a universal design throughout the web site.
        - Dan Bauer (2021)
*/
.header {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: 1fr 1fr;
}
.logo {
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color:cyan;
    border-radius: 100px;
    text-align: center;
    color: #606060;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
}
.logo img{
    position: absolute;
    left: 16px;
    bottom: 24px;
    width: 44px;
    height: 44px;

}
.name-text {
    position: absolute;
    left: 3em;
    font-size: 28px;
    color: #505050;
    transition: all 0.4s;
}
.name-text:hover{
    color: black;
    text-shadow: -1px -1px 10px lightgrey, 1px 1px 10px cyan;
    transition: all 0.4s;
}

/* Top Navigation Buttons */
.main{
    margin: 5px; padding: 5px;
    width: 100%; height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ol{
    width: 100%; display: flex;
    border: cyan;
    justify-content: right;
}
.nav ol li{
    margin: 0;
    padding: 5px 5px; position: relative;
    cursor: pointer; overflow: hidden;
}
.nav ol li::before{
    content: ""; position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 2px;
    background: cyan;
    transform: translateX(-100%);
    transition: all 0.4s;
}
.nav ol li:hover::before{
    transform: translateX(0%);
}
.nav ol li a{
    color: black; text-decoration: none;
    font-size: 18px; letter-spacing: 0.1rem;
    transition: all 0.4s;
}
.nav ol li:hover a{
    color: cyan;
    text-shadow: -1px -1px 10px black, 1px 1px 10px cyan;
}

/* Frosted Glass Effect */
/*
.container {
    width: 80%;
    margin: 0 auto;
    height: 6rem;
    box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

 */