*{ /* Browser Reset */
    /* TODO: Fix margin/padding */
    /* Currently at 10 & 7 respectively: reworking */
    margin: 0;
    padding: 0;
    font-family: "Poppins", Helvetica, sans-serif;
}
h1{
    color: cyan;
}
div, header, footer, main{
    /*Debugging Data Toggle
    outline: 2px solid red;*/
}

/******* Frosted Class Containers *******/
.content_container {
    width: 80%;
    margin: 10px auto;
    /*height: 64rem;*/
    box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.content_container::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

/******** Darker Frosted Content Containers ********/
.new_content {
    width: 85%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 .25rem 0 rgba(0, 0, 0,.2);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.new_content::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: 0;
    inset: 0;
    background-color: rgba(65,65,65,.6);
    box-shadow: inset 0 0 2000px rgba(50, 50, 50, .7);
    filter: blur(20px);
    margin: -20px;
}

/******* Makes News Cards look cleaner ********/
h1 {
    padding-left: 7%;
    margin: 10px;
    font-weight: 400;
    color: #606060;
    text-shadow: -1px -1px 5px darkcyan, 1px 1px 5px whitesmoke;
}
h2 {
    padding-left: 7%;
    margin: 10px;
    color: cyan;
    font-weight: 500;
    z-index: 3;
}
.news_line{
    color: black;
    position: absolute;
    left: 7.5%;
    width: 33%;
    height: 3px;
    border-width: 1px;
    background-color: darkcyan;
}
#pcp_link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content_grid{
    margin: 30px;
    padding: 10px;
    z-index: 3;
    flex: 1 1 0;
}
.content_grid h3, .content_grid p {
    color: white;
    font-weight: 500;
    z-index: 3;
}
.content_grid hr {
    color: darkcyan;
    height: 3px;
    background-color: cyan;
}

#pcp_desc {
    padding-right: 5%;
}
