/***************************************************
    This Stylesheet contains the styling needed to
    animate the header news ticker.
        - Dan Bauer (2021)
 ***************************************************/

/********** Animates Ticker *************/
@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

/************ Ticker Styling ***********/
@media only screen and (max-width: 1000px) {
    .ticker_wrap { visibility: hidden; }
}
.ticker_wrap {
    max-width: 100%;
    overflow: hidden;
    box-sizing: content-box;
    padding-top: 20px;
    padding-bottom: 0;
}
.ticker {
    display: inline-block;
    visibility: inherit;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: content-box;

    animation: ticker 20s linear infinite;
    -webkit-animation: ticker 20s linear infinite;
}
.ticker_item {
    display: inline-block;
    visibility: inherit;
    height: 2em;
    padding: 0 3rem;
    font-size: 18px;
    color: rgb(60,60,60);
    border: 2px solid initial;
}


/*
.ticker_wrap {
    overflow: hidden;
    background: inherit;
}
.ticker {
    display: flex;
}
.ticker_item {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
@keyframes tickerr {
    0%  { transform: translate3d(100%, 0, 0); }
    100%{ transform: translate3d(-600%, 0, 0);}
}
.ticker {
    animation: tickerr linear 15s infinite;
}*/